<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<header>
		<h1>Isbn Validator</h1>
	</header>

	<div class="row">
		<div class="side">
			<p>asdgouiyshdfuiaoiugbaosidgbais oiusadgofiuhasdg oiuaogiubsgoiasbdga asoidufaoisdgasd fsoiauboaigbu</p>
		</div>

		<div class="main">
			<form method="post" action="/validate">
				<textarea rows="15" name="isbn_nums"></textarea><br>
				<input type="submit" value="Check"><br>
			</form>

			<% if nums != []  || nums != nil%>
			<% nums.each do |num| %>
				<h2><%= num%></h2>
			<% end %>
			<% end %>
			<h2><%= final_arr%></h2>
		</div>

		<div class="side2">
			<p>asdgouiyshdfuiaoiugbaosidgbais oiusadgofiuhasdg oiuaogiubsgoiasbdga asoidufaoisdgasd fsoiauboaigbu</p>
		</div>
	</div>
</body>
